
<div class="jumbotron">

    <h1 class="display-4"> TypeScript App </h1>

    <p class="lead">
         Energistically productize market-driven metrics through high standards in niches. Completely generate prospective initiatives
        with compelling ideas. Holisticly strategize integrated total linkage and economically sound web-readiness. Professionally
     .

    </p>

    <a href="#" class="btn btn-primary btn-lg">
        Task List
    </a>



</div>